#!/bin/bash
set -e -x

# Update system and install required packages
apt-get update
apt-get install -y ca-certificates curl gnupg lsb-release

# Create a sudoers file for the Cloud Build OS Login user
# It uses the project number, which is dynamically fetched by Terraform.
echo "sa_${project_number} ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/cloud-build-sa

# Add Docker's official GPG key
mkdir -m 0755 -p /etc/apt/keyrings
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg

# Add the Docker repository to Apt sources
echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null

# Install Docker engine and Docker Compose plugin
apt-get update
apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

echo "=== Docker & Docker Compose Setup Complete ==="


